<tr>
  <td>
    <%= render partial: "shared/show_document", locals: {document: document} %>
  </td>
  <td>
    <% if !document.submission_workflow_status.nil? %>
        <h4 class="<%= "red-text" if (document.submission_workflow_status.downcase.eql? "draft") %>"><%= document.submission_workflow_status %></h4>
    <% end %>
    <%= render partial: "shared/show_document_buttons", locals: {document: document} %>
  </td>
</tr>

