<h4 class="padding-side-25">Publication information</h4>

<% if publication.empty? %>
  <% publication.build %>
<% end %>

<% publication.each do |p| %>
  <%= f.fields_for :publication, p do |f_p| %>
    <% if p.hasDocument.empty? %>
      <% p.hasDocument.build %>
    <% end %>
    <% if p.publisher.empty? %>
      <% p.publisher.build %>
    <% end %>
    <% p.publisher.each do |p2| %>
      <%= f_p.fields_for :publisher, p2 do |f_p2| %>

        <div class="fieldset">
          <p class="small">Publisher name</p>
          <%= f_p2.text_field :name, :required => true, :value => p2.name.first, data: {"progress" => "citation"} %>

          <aside class="tooltip">
            <a href="#" class="close-button">x</a>
            <strong>Publisher name</strong>
            <p>Enter the name of the body making the data publicly available. For data produced at Oxford, this will usually be the University of Oxford.</p>
            <div class="tooltip-extra">
              <div class="circle circle-citation"></div>
              <p><strong>Completing this field helps with Citation</strong></p>
            </div>
          </aside>
        </div>

        <!--
        <div class="fieldset">
          <p class="small">Publisher website</p>
          <%# f_p2.text_field :website, :value => p2.website.first %>

          <aside class="tooltip">
            <a href="#" class="close-button">x</a>
            <strong>Publisher website</strong>
            <p></p>
            <div class="tooltip-extra">
              <div class="circle circle-citation"></div>
              <p><strong>Completing this field helps with Citation</strong></p>
            </div>
          </aside>
        </div>
        -->

      <% end %> 
    <% end %> 

    <div class="fieldset">
      <p class="small">Year published</p>
      <%= f_p.date_field :datePublished, :required => true, :value => p.datePublished.first, data: {"progress" => "citation"} %>

      <aside class="tooltip">
        <a href="#" class="close-button">x</a>
        <strong>Year published</strong>
        <p>Enter the year the data have been or will be published, i.e. made publicly available.</p>
        <div class="tooltip-extra">
          <div class="circle circle-citation"></div>
          <p><strong>Completing this field helps with Citation</strong></p>
        </div>
      </aside>
    </div>

  <% end #fields for each publication %>
<% end #each publication %>

