<div class="alert" id="file-upload-tos-warning">
  <% if @model == "dataset" %>
    <% url = "/data_deposit_agreement/" %>
  <% else %>
    <% url = "/deposit_agreement/" %>
  <% end %>
  <strong>Note:</strong> You must agree to <a href='<%=url%>' target="_blank"><%= "ORA's deposit licence" %></a> before starting your upload.
</div>

