<div class="control-group">
  <% if @article.hasPart.empty? %>
   <% @article.hasPart.build %>
  <% end %>
  <% filesWithRelations = {} %>
  <% @article.hasPart.each_with_index do |hp, hp_index| %>
    <% filesWithRelations[hp.identifier.first] = hp_index %>
  <% end %>
  <% contents = @article.datastreams.keys.select { |key| key.match(/^content\d+/) and not @article.datastreams[key].content == nil } %>
  <% choicesNotUsed = @article.datastreams.keys.select { |key| key.match(/^content\d+/) and @article.datastreams[key].content == nil } %>
  <%= label_tag "files[]", "Upload file" %><br>
  <div class="controls" id="additional_files_clone">
    <%= file_field_tag "files[]" %>
    <%= file_field_tag "files[]" %>
  </div>
  <div id="additional_file_elements"></div>
</div>
