<div class="actions">
  <a href="<%= edit_article_path(@article) %>"><button class="btn btn-primary"><i class="icon-edit"></i>&nbsp; Edit article</button></a>
  <a href="<%= @article %>" data-method="delete" data-confirm="Are you sure?"><button class="btn btn-warning"><i class="icon-remove"></i>&nbsp; Delete article</button></a>
  <a href="<%= articles_path %>"><button class="btn btn-inverse"><i class="icon-list"></i>&nbsp; My recent articles</button></a>
</div>

