<% if !worktypeLabel.nil? %>
  <% types = ['journal', 'dataset', 'thesis', 'working-paper', 'tech-report', 'book', 'conference', 'article', 'book-section', 'general-item', 'technical'] %>
  <% if types.include?(worktypeLabel.downcase.tr(" ", "-")) %>
    <% tag = worktypeLabel.downcase.tr(" ", "-") %>
  <% elsif ["technical-document", "technical-report"].include?(worktypeLabel.downcase.tr(" ", "-")) %>
    <% tag = "tech-report" %>
  <% else %>
    <% tag = "general-item" %>
  <% end %>
  <span class="tag tag-<%=tag%>"><%= worktypeLabel %></span>
<% else %>
  <% tag = "publication" %>
  <span class="tag tag-<%=tag%>">Publication</span>
<% end %>

