<h1>Recent articles</h1>

<% msg = 'Login to see your recently added documents' if msg.blank? and current_user.blank? %>
<% msg = 'You have no documents to display. Contribute some of your documents!' if msg.blank? %>
<% display_thumbs = true %>
<% display_access = false %>

<br/><%= render partial: "shared/actions_list", as: :article %>

<div>
  <% if @articles.blank? && @submitted_articles.blank? %>
      <h3>  <%= msg %> </h3>
  <% else %>
    <% if !@articles.blank? %>
      <h3>Articles being worked on</h3>
      <div id="recent_docs">
        <table class="table table-bordered table-striped">
          <% @articles.each do |article| %>
            <%= render :partial => "draft_article", as: :article, :locals=>{:display_thumbs=> display_thumbs, :display_access=> display_access, :article => article} %>
          <% end %>
        </table>
      </div>
    <% end %>
    <% if !@submitted_articles.blank? %>
      <h3>Articles submitted</h3>
      <div id="recent_docs">
        <table class="table table-bordered table-striped">
          <% @submitted_articles.each do |article| %>
            <%= render :partial => "recent_article", as: :article, :locals=>{:display_thumbs=> display_thumbs, :display_access=> display_access, :article => article} %>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
</div>

