<div class="fieldset">
  <h4>Title</h4>
  <p class="small">Enter the title by which your dataset should be known and cited</p>
  <%= f.text_field :title, :value=>@dataset.title.first, :required=>true, :style=>'width: 60%', data: {"progress" => "citation"} %>

  <aside class="tooltip tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Title</strong>
    <p>Enter the title by which your dataset should be known and cited.</p>
    <div class="tooltip-extra">
      <div class="circle circle-citation"></div>
      <p><strong>Completing this field helps with Citation</strong></p>
    </div>
  </aside>
</div>

<div class="fieldset">
  <p class="small">Subtitle</p>
  <%= f.text_field :subtitle, :value=>@dataset.subtitle.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>

  <aside class="tooltip tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Subtitle</strong>
    <p>If you would like to give your data a sub-title, enter it here.</p>
    <div class="tooltip-extra">
      <div class="circle circle-discoverability"></div>
      <p><strong>Completing this field helps with Discoverability</strong></p>
    </div>
  </aside>
</div>

<div class="fieldset">
  <p class="small">Documentation about your dataset and processes</p>
  <%= f.text_area :isDocumentedBy, :required => true, :value=>@dataset.isDocumentedBy.first, :style=>'width: 60%', data: {"progress" => "documentation"} %>

  <aside class="tooltip tooltip-wide">
    <a href="#" class="close-button">x</a>
    <strong>Documentation</strong>
    <p>Please explain briefly how, why and when your data were created (including whether you used any specific software to create,
        edit or process the files – e.g. note whether a particular software package is required to read and work with the files).
        You should include sufficient information about your dataset to make it easily intelligible to another researcher.
        You may either type directly in the box or, if you are including this information in a separate file with your data upload,
        please enter the file name instead.</p>
    <div class="tooltip-extra">
      <div class="circle circle-documentation"></div>
      <p><strong>Completing this field helps with Documentation, access & re-use</strong></p>
    </div>
  </aside>
</div>

