<h4>Title</h4>
<p class="small">Enter the title by which your dataset should be known and cited</p>
<%= f.text_field :title, :value=>@dataset.title.first, :required=>true, :style=>'width: 80%' %>

<p class="small">Subtitle</p>
<%= f.text_field :subtitle, :value=>@dataset.subtitle.first, :style=>'width: 60%' %>

<p class="small">Abstract</p>
<%= f.text_area :abstract, :value=>@dataset.abstract.first, :style=>'width: 60%' %>

<p class="small">Documentation about your dataset and processes</p>
<%= f.text_area :isDocumentedBy, :value=>@dataset.isDocumentedBy.first, :style=>'width: 60%' %>