    <tr>
      <td>
        <%= render :partial => "shared/show_document", :locals => {:document => dataset} %>
      </td>
      <td>
        <% if !dataset.submission_workflow_status.nil? && dataset.submission_workflow_status.downcase == "draft" %>
          <% className = "red-text" %>
        <% else %>
          <% className = "" %>
        <% end %>
        <h4 class="<%=className%>"><%= dataset.submission_workflow_status %></h4>
        <%= render :partial => "shared/show_document_buttons", :locals => {:document => dataset} %>
      </td>
    </tr>

