<!-- <ul class="nav nav-tabs">
  <li class="active"><a href="#local" data-toggle="tab"><i class="icon-desktop"></i>Upload files</a></li>
  <li><a href="#describetab" data-toggle="tab"><i class="icon-tag"></i>Describe</a></li>
  <li><a href="#creatorstab" data-toggle="tab"><i class="icon-user"></i>Creators</a></li>
  <li><a href="#publicationtab" data-toggle="tab"><i class="icon-leaf"></i>Publication</a></li>
  <li><a href="#funderstab" data-toggle="tab"><i class="icon-gift"></i>Funders</a></li>
  <li><a href="#moreinfotab" data-toggle="tab"><i class="icon-link"></i>Links</a></li>
  <li><a href="#rightstab" data-toggle="tab"><i class="icon-thumbs-up"></i>Rights & Access</a></li>
  <li><a href="#workflowtab" data-toggle="tab"><i class="icon-flag"></i>Workflow</a></li>
</ul> -->

<nav class="form-steps extra-step">
  <ol>
    <li class="current">Upload<br/> files<span></span></li>
    <li>About<br/> your data<span></span></li>
    <li>About<br/> you<span></span></li>
    <li>Related<br/> publications<span></span></li>
    <li>Data archiving<br/> and access<span></span></li>
    <li>Funders, rights<br/> and licences<span></span></li>
    <% if can? :review, :all %>
      <li>Review<br/> workflow<span></span></li>
    <% end %>
  </ol>
</nav>
