<ul class="nav nav-tabs">
  <li class="active"><a href="#local" data-toggle="tab"><i class="icon-desktop"></i>Upload files</a></li>
  <li><a href="#describetab" data-toggle="tab"><i class="icon-tag"></i>Describe</a></li>
  <li><a href="#creatorstab" data-toggle="tab"><i class="icon-user"></i>Data stewards</a></li>
  <li><a href="#funderstab" data-toggle="tab"><i class="icon-gift"></i>Funders</a></li>
  <li><a href="#moreinfotab" data-toggle="tab"><i class="icon-bullhorn"></i>Associations</a></li>
</ul>

