<hr/>
<ul class="record-details">
        <li class="status">
                <img src="/assets/ora/icons/lock-open.svg"/>
                Open access item
        </li>
        <li class="views">
                <img src="/assets/ora/icons/read-blue.svg"/>
                700 views
        </li>
        <li class="downloads">
                <img src="/assets/ora/icons/download-blue.svg"/>
                85 downloads
        </li>
</ul>

