<div class="actions">
  <a href="<%= articles_path %>"><button class="btn btn-primary"><i class="icon-list"></i>&nbsp; My recent articles</button></a>
  <a href="/"><button class="btn btn-inverse"><i class="icon-home"></i>&nbsp; Home</button></a>
</div>

