<hr/>

<div class="category-bars">
        <div class="cat cat-citation">
                <span>Citation</span>
                <div class="bar">
                        <div style="width: 28%"></div>
                </div>
        </div>
        <div class="cat cat-discoverability">
                <span>Discoverability / Searchability</span>
                <div class="bar">
                        <div style="width: 20%"></div>
                </div>
        </div>
        <div class="cat cat-funder">
                <span>Funder compliance</span>
                <div class="bar">
                        <div style="width: 12%"></div>
                </div>
        </div>
        <div class="cat cat-documentation">
                <span>Documentation, assessment, access</span>
                <div class="bar">
                        <div style="width: 22%"></div>
                </div>
        </div>
        <div class="cat cat-preservation">
                <span>Preservation</span>
                <div class="bar">
                        <div style="width: 22%"></div>
                </div>
        </div>
</div>
