<div class="fieldset">

  <h4>Keywords</h4>

  <div class="field-repeater">
  <!-- <div class="field-repeater" data-max-fields="10"> -->
    <ol>
      <li>
        <%= f.text_field :keyword, :multiple => true, :value=>keyword.first, id: "keyword0", data: {"progress" => "discoverability"} %>
        <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
      </li>
      <% if keyword.any? && keyword.length > 1 %>
        <% keyword[1..-1].each_with_index do |k, kcount| %>
          <li>
            <%= f.text_field :keyword, :multiple => true, :value=>k, id: "keyword%d"%kcount, data: {"progress" => "discoverability"} %>
            <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
          </li>
        <% end %>
      <% end %>
    </ol>
    <a href="#" class="add-field">Add another keyword</a>
  </div>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Keywords" , :tipDescription => "Enter your own keywords or phrases to describe your work." } %>
</div>
