<% hasData = false %>
<% @article.subject.each do |s| %>
  <% if !s.subjectLabel.empty? %>
    <% hasData = true %>
  <% end %>
<% end %>
<% if hasData %>
  <div id="subject">
    <p><strong>Subject:</strong></p>
    <% @article.subject.each do |s|%>
      <div>
        <% if !s.subjectAuthority.empty? and !s.subjectLabel.empty? %>
          <span><%=link_to s.subjectLabel.first, s.subjectAuthority.first %></span>
        <% elsif !s.subjectLabel.empty? %>
          <span><%= s.subjectLabel.first %></span>
        <% end %>
        <% if !s.subjectScheme.empty? %>
          <span>(<%= s.subjectScheme.first %>)</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

