<% if !article.permissions.empty? %>
  <div class="accordian">
    <div class="accordian-header">Permissions</div>
    <div class="accordian-content">
      <table>
        <tbody>
          <tr>
            <th><strong>Person / Group</strong></th>
            <th><strong>Access level</strong></th>
          </tr>
          <% article.permissions.each do |p| %>
            <tr>
              <td><%= p.name %>
                <% if p.type.downcase == "group" %>
                  (<%= p.type %>)
                <% elsif p.name == article.workflowMetadata.depositor[0] %>
                  (depositor)
                <% end %>
              </td>
              <td><%= p.access %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>   
