<% if !article.permissions.empty? %>
  <legend>Permissions</legend>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th width="40%">Person / Group</th>
        <th>Access level</th>
      </tr>
      <% article.permissions.each do |p| %>
        <tr>
          <td><%= p.name %>
            <% if p.type.downcase == "group" %>
              (<%= p.type %>)
            <% elsif p.name == article.workflowMetadata.depositor[0] %>
              (depositor)
            <% end %>
          </td>
          <td><%= p.access %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
<% end %>   
