<% if article.license.empty? %>
  <% article.license.build %>
<% end %>
<% if article.rights.empty? %>
  <% article.rights.build %>
<% end %>
<%= f.fields_for :license do |l| %>
  <div class="fieldset">
    <label>
      <p class="small">Assign a licence to your data</p>
      <%= l.select :licenseLabel, options_for_select(Sufia.config.licenses[@model], :selected=>article.license[0].licenseLabel.first), data: {"progress" => "documentation"} %>
    </label>

    <aside class="tooltip">
      <a href="#" class="close-button">x</a>
      <strong>Assign a license</strong>
      <p>Select a standard licence from the list, or choose 'bespoke licence' and enter (or paste in) the text of
      any bespoke licence, access terms and conditions.</p>
      <div class="tooltip-extra">
        <div class="circle circle-documentation"></div>
        <p><strong>Completing this field helps with Documentation, access & re-use</strong></p>
      </div>
    </aside>
  </div>

  <div class="fieldset" style="display: none;" id="license-statement">
    <label>
      <p class="small">Licence statement</p>
      <% if !article.license[0].nil? %>
        <%= l.text_area :licenseStatement, :value=>article.license[0].licenseStatement.first, data: {"progress" => "documentation"} %>
      <% else %>
        <%= l.text_area :licenseStatement, :value=>"", data: {"progress" => "documentation"} %>
      <% end %>
    </label>

    <aside class="tooltip">
      <a href="#" class="close-button">x</a>
      <strong>Licence statement</strong>
      <p>Please enter (or paste in) the text of any bespoke licence, access terms and conditions.</p>
      <div class="tooltip-extra">
        <div class="circle circle-documentation"></div>
        <p><strong>Completing this field helps with Documentation, access & re-use</strong></p>
      </div>
    </aside>
  </div>
<% end %>
