<% if worktype.empty? %>
  <% worktype.build %>
<% end %>

<%= f.fields_for :worktype do |t| %>
  <% if Sufia.config.subtypes[@model].length > 1 %>
    <div class="fieldset">
      <p class="small">Type</p>
      <%# t.label :typeLabel, "Type", :class=>"control-label" %>
      <%= t.select :typeLabel, options_for_select(Sufia.config.subtypes[@model], :selected=>worktype[0].typeLabel.first), { :include_blank => 'Select a type' } %>

      <aside class="tooltip">
        <a href="" class="close-button">x</a>
        <strong>Type</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra purus nibh.</p>
      </aside>

    </div>
  <% elsif !worktype[0].typeLabel.nil? && !worktype[0].typeLabel.first.nil? %>
    <%= t.hidden_field :typeLabel, :value => worktype[0].typeLabel.first %>
  <% else %>
    <%= t.hidden_field :typeLabel, :value => Sufia.config.subtypes[@model].values()[0] %>
  <% end %>
<% end %>
