<h4>Article processing charge</h4>
<fieldset class="small-text">
  <p class="small">Does the article involve an article processing charge (either paid or to be paid)</p>
  <label>
    <%= f.radio_button :apcPaid, "Yes", :checked=>(article.apcPaid.first=='Yes') %>
    <span></span>Yes
  </label>
  <label>
    <%= f.radio_button :apcPaid, "No", :checked=>(article.apcPaid.first=='No') %>
    <span></span>No
  </label>
</fieldset>
