<%#

This file contains all of the styles required for a facet sidebar. 

%>
    <div class="col col1of6">
      <aside class="filters">
        <h3>Current search</h3>
        <span class="small">Filters:</span>

        <a href="#" class="active-filter">Jounrnal article</a>
        <a href="#" class="active-filter">Jounrnal article</a>

        <ul>
          <li class="open">
            <span>Contains</span>
            <ul>
              <li><a href="#">Journal article</a></li>
              <li><a href="#">Journal article</a></li>
              <li><a href="#">Journal article</a></li>
            </ul>
          </li>
          <li>
            <span>College</span>
            <ul>
              <li><a href="#">Journal article</a></li>
              <li><a href="#">Journal article</a></li>
              <li><a href="#">Journal article</a></li>
            </ul>
          </li>
        </ul>

      </aside>
    </div> <!-- /col -->

