<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<% @page_title = application_name + " Data Deposit Conditions" %>
  <div class="bottom-border"></div>
  <h2 class="blue-heading">ORA data deposit conditions</h2>
  <small>Version 3: 28 November 2014</small> <%= link_to "Download", asset_path("dataDepositLicenceV3.pdf"), :class => "links" %>
</div>
<div class="gutter-container">
  <div class="col col3of4">
    <div class="content-box padding-20 arial">
      <h2>About these deposit conditions</h2>
      <p>These deposit conditions set out the terms on which you may deposit any data in the Oxford University Research Archive (<strong>ORA</strong>). This deposit licence does not apply to the deposit of any other work in ORA, for which you should read the <a href="/deposit_licence">ORA deposit licence</a>. A list of defined terms is included at the end of these deposit conditions.</p>
      <p><strong>Please read these deposit conditions carefully before depositing any data in ORA. By depositing any data in ORA, you confirm that you accept, and have complied with, these deposit conditions.</strong></p>

      <h2>Permission</h2>
      <p>To the extent that any data deposited in ORA is not owned by the University, by depositing data in ORA you grant to the University a non-exclusive, worldwide licence to do any of the acts restricted by intellectual property rights to the extent necessary to allow the University to store the data and make it accessible to members of the public online on or through ORA (or any electronic retrieval system that may replace ORA from time to time).</p>
      <p>This licence will be subject to any restriction indicated by you in the ORA deposit form. For example, data may be subject to an embargo period, during which it may not be made freely accessible to members of the public online, and the University will respect that embargo period.</p>
      <p>While the University intends to preserve and make data deposited in ORA accessible to members of the public, it may refuse or cease to do so where it considers this to be reasonably necessary. The University will take reasonable steps to notify you of any such decision.</p>
      <p>Any person provided with access to data in ORA will only be licensed to access and use that data for non-commercial purposes.</p>

      <h2>Conditions</h2>
      <p>By depositing any data in ORA, you confirm to the University that you have the legal right to deposit those data in ORA in accordance with these deposit conditions.</p>
      <p>In particular, you confirm that any such data does <strong>not</strong>:</p>
      <ul>
        <li>contain any material which is unlawful;</li>
        <li>infringe any intellectual property rights (e.g. copyright or database right) of any other person;</li>
        <li>contain any material which is defamatory of any person;</li>
        <li>contain any confidential information; or</li>
        <li>contain any information that relates to an individual who can be identified from that information or from that information and any other information.</li>
      </ul>
      <p>Any data deposited in ORA should only contain anonymous information. In determining whether or not any information is anonymous, you should have regard to the guidance of the UK Information Commissioner’s Office (which is available on its website <a href="https://ico.org.uk/for_organisations/guidance_index/~/media/documents/library/Data_Protection/Practical_application/anonymisation-codev2.pdf">here</a> and to any other guidance published by an organisation established to regulate or promote good practice in your field of research.</p>
      <p>If any data is the result of any activity sponsored, commissioned or otherwise supported by another person (e.g. under a funding, collaboration or licence agreement), you confirm to the University that you have complied with all conditions that may apply to the deposit of those data in ORA.</p>
      <p>If the data is subject to an embargo on public access, you confirm that you have agreed the duration of the embargo in accordance with the University’s policies and procedures and that you have indicated the embargo in the ORA deposit form.</p>

      <h2>Definitions</h2>
      <p>The following definitions apply in this licence.</p>
       <dl>
        <dt>Data </dt>
        <dd>means the recorded information (in any format) necessary to support or validate a research project’s observations, findings or outputs. The term excludes any data incorporated into a work (e.g. any data reproduced in a thesis or article).</dd>
        <dt>Person </dt>
        <dd>means any individual or organisation.</dd>
        <dt>Work</dt>
        <dd>means any material other than data (in any format) that the University may permit or require you to deposit in ORA from time to time (e.g. an article or thesis).</dd>
      </dl>

      <h2>Contact us</h2>
      <p>If you have any comments or questions about these deposit conditions, please contact <a href="mailto:ora@bodleian.ox.ac.uk">ora@bodleian.ox.ac.uk</a>. The University is not in a position to provide you with legal advice, but it will try to answer your questions where possible.</p>

    </div>
  </div>
</div>
