<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<% @page_title = application_name + " Deposit Licence" %>
  <div class="bottom-border"></div>
  <h2 class="blue-heading">ORA deposit licence</h2>
  <small>Version 5: 27 November 2014</small> <%= link_to "Download", asset_path("depositLicenceV5.pdf"), :class => "links" %>
</div>
<div class="gutter-container">
  <div class="col col3of4">
    <div class="content-box padding-20 arial">

      <h2>About this deposit licence</h2>
      <p>This deposit licence sets out the terms on which you may deposit any work in the Oxford University Research Archive (<b>ORA</b>). This deposit licence does not apply to the deposit of any data in ORA, for which you should read the <a href="/data_deposit_licence">ORA data conditions</a>. A list of defined terms is included at the end of this deposit licence.</p>

      <p><b>Please read this deposit licence carefully before depositing any work in ORA. By depositing any work in ORA, you confirm that you accept the terms of this deposit licence.</b></p>

      <h2>Ownership</h2>
      <p>You will continue to own any intellectual property rights you may have in any work deposited in ORA and nothing in this deposit licence prevents you from using or licensing others to use such work. Through this licence the University asks for permission to use a work deposited in ORA in order to preserve and make that work available to members of the public. The University is under no obligation to protect or enforce any intellectual property rights that you may have in any such work.</p>

      <h2>Permissions</h2>
      <p>By depositing a work in ORA, you grant to the University a non-exclusive, sub-licensable, worldwide licence to do any of the acts restricted by copyright or other intellectual property rights to the extent necessary to allow the University to store the work and make it accessible to members of the public online on or through ORA (or any electronic retrieval system that may replace ORA from time to time). This licence will be subject to any restriction indicated by you in the ORA deposit form.</p>
      <ul>
        <li><b>RESTRICTION EXAMPLE 1 –</b> A thesis or other publication may be subject to an embargo period, during which it may not be made freely accessible to members of the public online, and the University will respect that embargo period.</li>
        <li><b>RESTRICTION EXAMPLE 2 –</b> If you are unable to secure permission to use a third party copyright work in your thesis, you may submit two versions: one which includes the third party copyright and one which does not. The redacted version may be made freely accessible to members of the public online, but the full version will not be made available online until the expiry of the third party copyright.</li>
      </ul>
      <p>While the University intends to preserve and make works deposited in ORA accessible to members of the public, it may refuse or cease to do so where it considers this to be reasonably necessary. The University will take reasonable steps to notify you of any such decision.</p>
      <p>Any person provided with access to a work in ORA will only be licensed to access and use that work for non-commercial purposes, unless you choose otherwise. You can choose in the ORA deposit form to make the work available under the default user licence or a <a href="https://wiki.creativecommons.org/FAQ">Creative Commons licence.</a></p>

      <h2>Withdrawal of permissions</h2>
      <p>You may ask the University to remove any work that you have deposited in ORA, other than a thesis submitted to the University for examination, by submitting a request in writing to the ORA administration team. The University aims to comply with any such request within 15 working days.</p>
      <p>Any request relating to a thesis submitted for examination must be submitted to the relevant <a href="http://www.ox.ac.uk/students/academic/guidance/graduate/contacts">Departmental or Divisional academic authority</a> for approval before the work can be removed by the ORA administration team. </p>
      <p>Please note that you may be asked to verify your identity to ensure that the request is genuine, and that the University will have no obligation to identify or notify any person who may have accessed the work before it is removed from ORA.</p>
      <p>A searchable record of any work deposited in ORA will be retained after a work is removed. That record may include the title of the work, the abstract, the identity of the authors, and any known publication details.</p>

      <h2>Conditions</h2>
      <p>By depositing a work in ORA, you confirm to the University that you have the legal right and authority to deposit the work in accordance with the terms of this deposit licence and the work does <b>not</b>:</p>
      <ul>
        <li>infringe any intellectual property rights (e.g. copyright or database right) of any other person;</li>
        <li>contain any material which is defamatory of any person;</li>
        <li>contain any confidential information; or</li>
        <li>contain any material that invades the privacy or breaches the data protection rights of any other person.</li>
      </ul>
      <p>If the work is the result of any activity sponsored, commissioned or otherwise supported by another person (e.g. under a funding or collaboration agreement), you confirm to the University that you have complied with all conditions that may apply to the deposit of that work in ORA.</p>
      <p>If the work is a thesis that is the subject of an embargo on public access, you confirm that you have agreed the duration of the embargo in accordance with the University’s policies and procedures and that you have indicated the embargo in the ORA deposit form.</p>

      <h2>Definitions</h2>
      <p>The following definitions apply in this deposit licence.</p>
       <dl>
        <dt>Data</dt>
        <dd>means the recorded information (in any format) necessary to support or validate a research project’s observations, findings or outputs.</dd>
        <dt>Person</dt>
        <dd>means any individual or organisation.</dd>
        <dt>Work</dt>
        <dd>means any material (in any format) that the University may permit or require you to deposit in ORA from time to time. This definition excludes any data which is not incorporated into another work (e.g. data reproduced in a thesis or article).</dd>
        <dt>Third party</dt>
        <dd>means any person other than you or the University.</dd>
      </dl>

      <h2>Contact us</h2>
      <p>If you have any comments or questions about this deposit licence, please contact <a href="mailto:ora@bodleian.ox.ac.uk">ora@bodleian.ox.ac.uk</a>. The University is not in a position to provide you with legal advice, but it will try to answer your questions where possible.</p>

    </div>
  </div>
</div>
