<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<% @page_title = application_name + " Help" %>
<h2>Help and Information</h2>
<p>
    Journal article and dataset ORA deposit forms include contextual help on most fields which should display automatically as you select the field.
</p>
<p>
    For detailed information and guidance about using ORA-Data for research data, please see the ORA-Data LibGuide:
    <a href="http://libguides.bodleian.ox.ac.uk/ora-data">http://libguides.bodleian.ox.ac.uk/ora-data</a>.
</p>
<p>
    For detailed information and guidance about using ORA for publications, theses and other works, see the ORA
    Help & Information pages at <a href="http://www.bodleian.ox.ac.uk/ora">http://www.bodleian.ox.ac.uk/ora</a>.
</p>
<p> 
    See the Open Access Oxford website for general help and information on open access for making your research highly visible, research funders’ expectations,
    and the support available to Oxford researchers. <a href="http://openaccess.ox.ac.uk">http://openaccess.ox.ac.uk</a>.
</p>
<p> 
    See the Research Data Oxford website for information about research data support services available to Oxford researchers.
    <a href="http://researchdata.ox.ac.uk">http://researchdata.ox.ac.uk</a>.
</p>
<p>
    If your research is funded by one of the Research Councils UK (<a href="http://www.rcuk.ac.uk/funding/howtoapply/">http://www.rcuk.ac.uk/funding/howtoapply/</a>)
    and you wish to apply for an Article Processing Charge (APC), please email <a href="mailto:apc@bodleian.ox.ac.uk">apc@bodleian.ox.ac.uk</a>.
</p>

