<% msg = '' if msg.blank? and current_user.blank? %>
<% msg = 'You have no datasets to display. Contribute some of your datasets!' if msg.blank? %>
<div>
  <% if recent_datasets.blank? %>
    <h3>  <%= msg %> </h3>
  <% else %>
    <%= render :partial => "catalog/_index_partials/document_list", :locals => {:recent_documents => recent_datasets} %>
  <% end %>
</div>
