<% msg = 'Login to see your recently added publications' if msg.blank? and current_user.blank? %>
<% msg = 'You have no documents to display. Contribute some of your publications!' if msg.blank? %>
<% if recent_publications.blank? %>
<h3><%= msg %></h3>
<% else %>
<h3>Latest publications</h3>
<%= render :partial => "catalog/_index_partials/document_list", :locals => {:recent_documents => recent_publications} %>
<% end %>