<%# only display the q parameter if the controller is not the dashboard.  If they are in the dashboard controller, then the search is of the dashboard. %>
<% q = params[:controller] == 'dashboard' ? nil : params[:q] %>

<aside class="search">
  <%= form_tag catalog_index_path, :method => :get, :id => "search-form-header" do %>
    <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>
    <%= text_field_tag :q, q, :class => "q span50", :id => "search-field-header", :placeholder => t('sufia.search.form.q.placeholder') %>
    <button type="submit" class="button" id="search-submit-header">Search</button>
  <% end %>
</aside>
  
