<div class="alert" id="file-upload-tos-warning">
  <strong>Note:</strong> You must agree to <a href='/licence/' target="_blank"><%= t('sufia.deposit_agreement') %></a> before starting your upload.
</div>


