<div class="actions">
  <div class="well">
    <div class="row">
      <div class="control-group">
        <h2><i class="icon-hdd icon-large"></i>&nbsp;&nbsp; Data</h2><hr/>
        <a href="<%= new_dataset_path %>"><button class="btn btn-primary btn-large"><i class="icon-upload-alt"></i>&nbsp; Upload your data</button></a>
      </div>
    </div>
  </div>
</div>
