<div class="blue-bar">
	<form action="<%= new_article_path %>" method="get">
		<div class="float-left">
			<img src="/assets/ora/icons/plus.svg" class="icon"/>
			Add a publication
		</div>
		<div class="float-right">
			<select name="type">
				<option>Journal article</option>
				<option>Something else</option>
			</select>
			<button type="submit" class="button button-small button-arrow">GO</button>
		</div>
	</form>
</div>