<div class="actions">
  <div class="well">
    <div class="row">
      <div class="control-group">
        <h2><i class="icon-list icon-large"></i>&nbsp;&nbsp; Publications</h2><hr/>
        <a href="<%= new_article_path %>"><button class="btn btn-primary btn-large"><i class="icon-edit"></i>&nbsp; Add an article</button></a>
      </div>
    </div>
  </div>
</div>
