<div class="blue-bar">
  <!-- <form action="<%#= new_article_path %>" method="get"> -->
    <div class="float-left">
      <img src="/assets/ora/icons/plus.svg" class="icon"/>
      Add a publication
    </div>
    <div class="float-right">
      <select name="type" onChange="window.location.href=this.value">
        <option value="">Please select type</option>
        <option value="<%=new_article_path%>">Journal article</option>
        <option value="<%=new_thesis_path%>">Thesis</option>
      </select>
      <%# types = Sufia.config.subtypes["article"].reject{|_,v| v.empty?} %>
      <%#= select_tag "typeLabel", options_for_select(types, :selected=>"Journal article") %>
      <!-- <button type="submit" class="button button-small button-arrow">GO</button> -->
    </div>
  <!-- </form> -->
</div>
