<div class="blue-bar">
  <form action="<%= new_thesis_path %>" method="get">
    <div class="float-left">
      <img src="/assets/ora/icons/plus.svg" class="icon"/>
      Add a thesis
    </div>
    <div class="float-right">
      <button type="submit" class="button button-small button-arrow">GO</button>
    </div>
  </form>
</div>

