<div class="blue-bar">
	<form action="<%= new_dataset_path %>" method="get">
		<div class="float-left">
			<img src="/assets/ora/icons/plus.svg" class="icon"/>
			Upload data
		</div>
		<div class="float-right">
			<button type="submit" class="button button-small button-arrow">GO</button>
		</div>
	</form>
</div>