<% if can? :review, :all %>
<div class="content-box padding-0">
	<a href="<%= dataset_agreements_path %>" class="full-content-link">
		<img src="/assets/ora/icons/review.svg"/>
		<span class="v-center">Data agreements</span>
	</a>
</div>
<% end %>