<div class="actions">
  <div class="well">
    <div class="row">
      <div class="control-group">
        <a href="<%= articles_path %>"><button class="btn btn-inverse btn-large"><i class="icon-list"></i>&nbsp; My publications</button></a>
      </div>
    </div>
  </div>
</div>
