<% if can? :review, :all %>
  <div class="actions">
    <div class="row">
      <div class="control-group">
        <a href="<%= dataset_agreements_path %>"><button class="btn btn-large"><h2><i class="icon-heart-empty icon-large"></i>&nbsp;Data agreements</h2></button></a>
      </div>
    </div>
  </div>
<% end %>
