<% if can? :review, :all %>
<div class="content-box padding-0">
	<a href="<%= reviewer_dashboard_index_path %>" class="full-content-link">
		<img src="/assets/ora/icons/review.svg"/>
		<span class="v-center">Go to Reviewer dashboard</span>
	</a>
</div>
<% end %>