<% if @model == "dataset_agreement" %>
  <% plural = "dataset agreements" %>
<% else %>
  <% plural = @model.pluralize %>
<% end %>
<div class="actions" style="padding: 0px 10px 20px;">
  <a href="<%= path[:list] %>" class="button button-small light-blue">My <%=plural%></a>
</div>

