@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ca45d02b-3e88-45e8-81b2-4b3a9ba9896e");

@font-face{
	font-family:"Helvetica";
	src:url("../fonts/helvetica/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
	src:url("../fonts/helvetica/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),
			url("../fonts/helvetica/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),
			url("../fonts/helvetica/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),
			url("../fonts/helvetica/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
}

@font-face{
	font-family:"Helvetica Neue";
	src:url("../fonts/helvetica-neue/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
	src:url("../fonts/helvetica-neue/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),
		url("../fonts/helvetica-neue/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),
		url("../fonts/helvetica-neue/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),
		url("../fonts/helvetica-neue/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}