@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ca45d02b-3e88-45e8-81b2-4b3a9ba9896e");

@font-face{
	font-family:"Helvetica";
	src:font-url("helvetica/717f8140-20c94892981538b48f14ce2b.eot?#iefix");
	src:font-url("helvetica/717f814020c94892981538b48f14ce2b.eot?#iefix") format("eot"),
		font-url("helvetica/0380581746114dbc8c650f73031c3973.woff") format("woff"),
		font-url("helvetica/d5f9f72dafb74c578348b4bdac42edbb.ttf") format("truetype"),
		font-url("helvetica/05ad458f263b413fb0546001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
}

@font-face{
	font-family:"Helvetica Neue";
	src:font-url("helvetica-neue/ae1656aa5f8f4905aed093e667bd6e4a.eot?#iefix");
	src:font-url("helvetica-neue/ae1656aa5f8f4905aed093e667bd6e4a.eot?#iefix") format("eot"),
		font-url("helvetica-neue/530dee22e3c14e9fbf62c31d510d9656.woff") format("woff"),
		font-url("helvetica-neue/688ab72b4deb4e15a08889166978d469.ttf") format("truetype"),
		font-url("helvetica-neue/7816f72ff47e47158cd7960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

