
      </section>
     <div class="push"></div>
	</div>
	<footer class="footer">
		<div class="container">
			<a href="#" class="footer-logo"><%=image_tag("ora/core/footer-logo.png")%></a>
			<ul>
				<li>&copy; 2014 Oxford University Research Archive. All rights reserved</li>
				<li><a href="http://ora.ox.ac.uk/information/disclaimer">Disclaimer and data protection</a></li>
				<li><a href="http://ora.ox.ac.uk/information/cookies">Cookies</a></li>
				<li><a href="http://ora.ox.ac.uk/information/accessibility">Accessibility</a></li>
				<li><a href="http://ora.ox.ac.uk/information/termsOfUse">Terms of use</a></li>
			</ul>
		</div>
	</footer>
  <div id="ajax-modal" class="modal hide" tabindex="-1"></div>
</body>
</html>

