<a href="http://ora.ox.ac.uk" class="float-left logo" target="_BLANK">
<%= image_tag "ora/core/logo-ora.png", alt: "Oxford University Research Archive", class: "logo logo-ora" %>
</a>
<a href="http://www.bodleian.ox.ac.uk" class="float-right logo" target="_BLANK">
<%= image_tag "ora/core/logo-bodleian.png", alt: "Bodleian Libraries", class: "logo logo-bodleian" %>
</a>
